<form class="" (submit)="addWords($event)" >
  <div class="form-group">
    <input type="text" [(ngModel)]="english" name="english" placeholder="Add English Word">

    <input type="text" [(ngModel)]="ukrainian" name="ukrainian" placeholder="Add Ukrainian Word">

    <input type="submit">
  </div>
</form>

<div>
  <div *ngFor="let word of words" class="">
    <div class="">
      {{ word.english }}
    </div>
    <div class="">
      {{ word.ukrainian }}
    </div>
    <div class="">
      <input type="button" (click)="deleteWords(word._id)" value="Delete">
    </div>
  </div>
</div>
